/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,300&display=swap");

.innerContainer {
  max-width: 850px;
  margin: 7px auto;
  padding: 30px;
  border: 4px solid black;
  border-radius: 10px;
}

.heading {
  text-align: center;
  font-family: "Playfair Display", serif;
  padding: 5px;
}

.rowFirst {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 20px;
  width: 97%;
}

.rowFirst .search {
  background: transparent;
  font-family: "Lato", sans-serif;
  padding: 7px;
  font-weight: bold;
  margin-right: 1%;
  width: 80%;
}

#cityName::placeholder {
  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.rowFirst .btn {
  border: 2px solid black;
  border-radius: 7px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 7px 20px;
  margin-left:5px;
  transition: all 200ms ease;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
  position: relative;
  top: -1px;
}

.rowFirst .btn:hover {
  background: #FDBAC3;
  border: 2px solid black;
  border-radius: 7px;
}

.RowSecond {
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 97%;
  font-size: 20px;
}

.RowSecond .location {
  text-align: center;
  font-family: "Lato", sans-serif;
  padding: 7px;
  font-weight: bold;
  margin: 5px auto;
}

.RowThird {
  display: flex;
  justify-content: center;
}

#mainIcon {
  height: 208px;
  width: 180px;
  padding: 50px;
  margin: 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  transition: transform 0.3s ease;
}

#mainIcon:hover {
  transform: scale(1.1);
} 

.embeddedRow2 {
  padding-top: 13px;
}

.current {
  border: 2px solid black;
  border-top-left-radius: 27px;
  border-end-end-radius: 27px;
  padding: 7px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  text-align: center;
}

#current-temp {
  font-size: 60px;
}

#maxMinTemp {
  font-size: 20px;
}

.units {
  position: relative;
  top: 8px;
  font-size: 20px;
}

.embeddedRow2 .DisplayTemp {
  padding: 5px 15px;
  border-right: 3px solid black;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.tempWrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

#celsius-link {
  text-decoration: none;
  padding: 1px 1px;
  font-weight: bold;
  color: black;
  margin-left: 2px;
}

#celsius-link:hover {
  cursor: default;
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
  font-weight: bold;
  padding: 1px 2px;
  color: darkmagenta;
}

#fahrenheit-link:hover {
  text-decoration: underline;
}

.pipe {
  font-weight: bold;
}

.embeddedRow2 .DisplayExtraInfo {
  padding: 5px 15px;
  font-family: "Roboto", sans-serif;
  display: block;
  margin: 0 auto;
}

#description {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 25px;
}

